---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="about-me">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">ABOUT ME</div>
  </div>

  <div class="mb-10 text-justify">
    Greetings 👋, I'm <b>Karthik Nair</b>, Experienced Web Developer Enthusiast based in Kerala, India.
    After graduating with a degree in Computer Science Major, I decided to pursue my passion for programming. I self learnt full-stack web development. My favorite part of programming is the problem-solving aspect. I love the feeling of finally figuring out a solution to a problem. My core stack is Angular, Node.js, and MongoDB. I am also familiar with Kotlin, Android development. I am always willing to learn new technologies. <br /> <br/>
    When I'm not coding, I spend my time in Gym, Reading Light Novels, Playing video games, Watching movies or Cycling with my xc900! 😎
    <br/>
    <br />
    I'm always seeking new opportunities to expand my abilities and make a positive impact through technology. Thanks for getting to know a bit about me! 😊
    <!-- I am currently looking for a full-time position as a software developer. -->
  </div>

</BaseLayout>